* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:hwb(0 33% 67%)
}

body {
    background-color: rgb(246, 226, 255); /* 背景色 */
    line-height: 1.8; /* 行間 */
    padding: 100px;
}

header {
    background-color: gray; /* ヘッダーの背景色 */
    border-radius: 20px; /* ヘッダーの角を丸く */
    padding: 18px; /* ヘッダーの内側の余白 */
    text-align: center; /* テキストを中央揃え */
    margin-top: 10px; /* 20pxの余白を追加 */
    
}

h1 {
    color: white; /* H1の文字色 */
    padding: 100px;
}

nav ul {
    list-style-type: none; /* リストのスタイルをなしに */
    padding: 0; /* パディングをなしに */
}

nav ul li {
    display: inline; /* インライン要素として表示 */
    margin: 0 18px; /* 左右のマージン */
}

nav ul li a {
    color: white; /* リンクの文字色 */
    text-decoration: none; /* テキストの下線をなしに */
}

section {
    margin: 20px 0; /* セクションの上下余白 */
    border-radius: 20px; /* セクションの角を丸く */
    padding: 10px; /* 内部余白 */
    text-align: center; /* テキストを中央揃え */
}

h2 {
    background-color: rgb(128, 128, 128); /* H2の背景色 */
    border-radius: 15px; /* H2の角を丸く */
    color: white; /* H2の文字色 */
    margin: 10px 0; /* H2の上下余白 */
    padding: 10px;
}

.project {
    margin-bottom: 15px; /* プロジェクトの下部余白 */
    padding: 20px; /* パディング */
    border: 3px solid #858585; /* 境界線 */
}

a {
    color: rgba(43, 166, 214, 0.968); /* リンクの色 */
}



h1 {
    padding: 10px 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image {
    border: 1px dashed gray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}